.image{

}

.logoWrapper {
}

.h2{

}

.h2Wrapper {

}

.navigation{
    display: flex;
    gap: 20px;
    align-items: center;
    @media screen and (max-width: 720px){
        display: none;
    }
}

.navigationItem {

}

.baseHeader{
    display: flex;
    justify-content: space-between;
}

.contacts{
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 720px){
        display: none;
    }
}

.navbar{
    @media screen and (min-width: 720px){
        display: none;
        
    }
}

.showMobile{
    @media screen and (min-width: 720px){
        display: none;

    }
}

.imageSlide {
    transition: transform 0.3s; /* Для плавного перехода */
}

.hovered {
    transform: scale(2); /* Увеличение размера на 70% */
}