.helpBtn {
  position: fixed;
  bottom: 100px;
  right: -12px;
}

.textPc{
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.hideMobile{
  @media screen and (min-width: 720px){
    display: none;
  }
}