.helpBtn {
  position: fixed;
  bottom: 80px;
  right: -12px;
}

.textPc{
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.goTopBtn{
  position: fixed;
  left: 2px;
  bottom: 150px;
  width: 42px;
  z-index: 500;
  height: 42px;
  @media screen and (max-width: 696px) {
    display: none;
  }
}
.goTopBtn_img{
  width: 100%;
  height: 100%;
}
.hideMobile{
  @media screen and (min-width: 720px){
    display: none;
  }
}

.sliderWrapper {
  @media screen and (max-width: 960px) {
    display: none;
  }
}
